:root{
    --yellow-color: #f3c623;
    --hover-color: #127681;
    --teal-color: #10375c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 1000px;
    background-color: #f4f6ff;
    color: var(--teal-color);
}

@media screen and (max-width: 1024px){
    .header img{
        width: 280px;
    }
    .header a{
        letter-spacing: initial;
        font-size: 20px;
        margin: 0 6px;
    }
    .cta-desc{
        padding-right: initial;
    }
    .cta-image img {
        width: 50vw;
        padding-left: 30px;
    }
}

@media screen and (max-width: 768px){
    .header{
        display: none;
    }
    .container, .container1, .container2 {
        width: 110%;
    }
    .cta{
        height: 100%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .cta-image img {
        width: 100%;
        padding-left: 80px;
    }
    .cta-desc{
        width: 100%;
        margin-left: 60px;
    }
    .container1{
        margin-top: 4em;
    }
    .recomm-description {
        width: 70vw;
    }
    .prev{
        display: none;
    }
    .next{
        display: none;
    }
    .projects{
        margin-left: 20px;
    }
    .projects-img {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .form{
        margin-left: 8%;
    }
    .about-desc {
        width: initial;
    }
    .footer{
        width: 110%;
    }
    .creators{
        margin: 30px;
    }
}

@media screen and (max-width: 576px){
    .hero-title {
        margin: 40px 0;
    }
    .hero-description {
        margin-bottom: 1em;
    }
    .projects-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .project img{
        width: 400px;
    }
    .footer{
        text-align: center;
    }
    .creators{
        flex-flow: column;
    }
    .dev{
        margin: 2em 0;
    }
}

@media screen and (max-width: 480px){
    .hero-title {
        font-size: 3.2em;
    }
    .hero-description {
        font-size: 2em;
    }
    .cta-title{
        font-size: 3em;
    }
    .cta-description {
        font-size: 2em;
    }
    .recomm-description {
        font-size: 2em;
        width: 100%;
    }
    .projects-title {
        font-size: 3em;
    }
    .form-title {
        font-size: 3em;
    }
}

@media screen and (max-width: 320px){
    .hero-title {
        font-size: 3em;
    }
    .hero-description {
        font-size: 1.8em;
    }
    .hero-btn {
        font-size: 2em;
    }
    .cta-image img {
        width: 120%;
        padding: 15px;
    }
    .container, .container1, .container2 {
        width: 120%;
    }
    .footer{
        width: 120%;
    }
}