:root{
    --yellow-color: #FFD524;
    --hover-color: #05F2AF;
    --purple-color: #C111D9;
    --gray-color: #44444C;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}
.header a, .hero{
    color: var(--yellow-color);
}
.header a{
    text-decoration: none;
}
/* .hero{
    background-image: url(../images/code.jpg);
    height: 100vh;
    background-repeat:no-repeat;
    background-position:center top;
} */